.search-container{
    display: flex;
    padding: 0px 0px 0px 40px;
    width: 100%;
    height: auto;
}

.icon-search{
    display: flex;
    padding: 0px 5px;
}

.input-search{
    display: flex;
    border-radius: 7em;
    border: none;
    outline: none;
    background: rgb(53, 53, 53);
    padding: 10px 10px;
    transition: background 200ms ease;
}

.input-search:hover{
    background: rgb(78, 78, 78);
    outline: solid 1px rgb(169, 168, 168);
}

.input{
    border: none;
    outline: none;
    width: 140px;
    background-color: transparent;
}